.breadcrumbs-container {
    padding-top: 130px;
    padding-left: 5vw;
    display: flex;
    align-items: flex-start;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.breadcrumbs {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

li.current {
    color:#2D2926;
}

.outside-bcrumb {
    color:#006AE3 ;
    cursor: pointer;
}

.divider {
    color: #666 ;
}

.breadcrumbs-mobile {
    display: none;
}



@media (max-width: 430px) {


    .breadcrumbs {
        display: none;
    }

    .breadcrumbs-mobile {
        font-family: "Nunito Sans";
        font-size: 14px;
        color: #006AE3;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
    }

    .breadcrumbs-mobile span {
        margin-top: 5px;
    }


}