#episode-resources {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
  background: #373737;
  margin-bottom: 100px;

  margin-top: 5%;
}

.swiper-episode.swiper {
    padding-bottom: 2vh;
}

.swiper-slide {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width: auto !important;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
    
}

.episode-text {
  width: 20%;
  padding: 0 40px;
  margin-bottom: 40px;
}

.episode-text h2 {
    color: var(--Primary-White, #FFF);
    font-family: "Nunito Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 46px; /* 127.778% */
}

.episode-text p {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
}

/* Swiper container styles */
.swiper-episode {
  padding: 20px 40px;
  max-width: 1200px;
  margin: 0 auto;
  width: 60%;
}

/* Resource card container */
.rcard-container {
    display: flex;
    flex-direction: column;
    margin-right: 10%;

    flex: 1 1 auto;
    min-width: 250px;
    max-width: 1%;

    border-radius: 0px 0px 6px 6px;

}


.rescard {
    width: 100%; 
    max-width: 500px; 
    height: 50vh;
    display: flex;
    flex-direction: column;
  
}

.rescard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-color: #2D2926;
}

.rescard h3 {
    text-align:start;
    color: var(--Primary-ADI-Navy, #002856);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Nunito Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; 
    padding-bottom: 0;
    padding-left: 20px;
    margin-bottom: 0;
}

.rescard p {
    text-align:start;
  color: var(--Colors-Informational-Body-Copy-Black, #2D2926);
  font-family: "Nunito Sans";
  font-size: 14px;
  line-height: 1.5;
  padding-left: 20px;
  padding-bottom: 20px;
  flex-grow: 1;
}

.rescard a {
    text-align:start;
    color: #006AE3;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px; 
    text-decoration: none;
    cursor: pointer;
    padding: 0 20px 20px;
}


.swiper-slide.rcard-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Mobile Layout */
@media (max-width: 1024px) {

    .swiper-episode {
        margin-left: 200px;
        width: 64%;
      }

    .swiper-slide.rcard-container {
        width:100%;
        
        /* margin-right: 0%;
        margin-left: -5%; */
        
    }

    .episode-text {
        width: 50%;
        padding: 0 40px;
        margin-bottom: 40px;
      }

    #episode-resources {
        flex-direction: column;
        margin-left: 4%;
        margin-right: 4%;
    }


    .rescard {
        width: 100%; /* Ensures full use of available space */
        height: 35vh;
       
    }


    .swiper-slide.rcard-container {
        width:100%;
    }

  .swiper-episode {
    padding: 10px;
  }
  

}






@media (max-width: 1023px) {

    .swiper-episode {
        margin-left: 200px;
        width: 84%;
      }

    .swiper-slide.rcard-container {
        width:100%;
        
        
    }

    .episode-text {
        width: 50%;
        padding: 0 40px;
        margin-bottom: 40px;
      }

    #episode-resources {
        flex-direction: column;
    }


    .rescard {
        width: 100%; 
        height: 45vh;
       
    }


    .swiper-slide.rcard-container {
        width:100%;
    }

  .swiper-episode {
    padding: 10px;
  }
  

}


@media (max-width: 480px) {

    .episode-text h2 {
        margin-bottom: 0;
    }

    .episode-text {
        width: 50%;
        padding: 0 40px;
        margin-bottom: 0px;
        margin-right: 10%;
      }

    #episode-resources {
        flex-direction: column;
    }


    .rescard {
        width: 100%; 
        height: 55vh;
    }

    .swiper-slide.rcard-container {
        width:100%;
        margin-right: 0%;
        margin-left: 14%;
        
    }
}